{% extends "base.html" %}

{% block content %}
<style type='text/css'>
  body {
    background-color: #BFF5FD
  }
  
  h3 {
    color: #113CCF;
  }
  
</style>

<h1>Blog Post #1</h1>

<p> I booked a trip to DisneyWorld in Orlando, FL in the beginning July. It'll be my first time at Disney! They say Disney can be as fun for adults as it is for kids, and I hope they're right. See below for some attractions I'm looking forward to seeing.</p>

<h3>Walt Disney World 50th Anniversary Celebration</h3>
<img height=65% src="/static/castle.jpeg">
<p> If there was a time to visit Disney, it would be when there's something to celebrate! The 50th Anniversary Celebration I'm sure will be spectacular and filled with magic, fireworks, and all-around good fun. </p>

<p> There will be new food items like this chocolate cake, made of almond praline, white chocolate crémeux, ganache, and chocolate-South African cream liqueur sauce. </p>
<img height=50% src="/static/chocolate.jpeg">

<p> A total of 50 special golden sculptures will also be displayed prominently throughout the park. I wonder if I'll be able to spot all 50. </p>
<img height=50% src="/static/dumbo.jpeg">

<h3>Magic Kingdom at Night</h3>
<p> Disney is known for their fireworks and their shows are described as dazzling nighttime spectaculars. In honor of Disney's 50th anniversary, there is a new show called <i>Disney Enchantment</i>. I'll have to do a little bit more research on where the best spot to watch the fireworks show is because paying $100+ for a ticket in the reserved seating area is a hard sell. </p>
<img height=50% src="/static/fireworks.jpeg">

<h3>Traveling Around the World at EPCOT</h3>
<p> EPCOT is said to be a park that serves adults as well as kids. EPCOT's World Showcase offers food and drinks from different countries like Canada, France, Japan, China, Germany, etc. A snack and beer pairing awaits EPCOT travelers and I'll have to remember to save room for all eleven stops.</p>

<p> Germany offers pasta gratin, roasted bratwursts and apple strudel alongside some German craft beer.</p>
<img height=50% src="/static/germany.jpeg">

<h4>You've visited this page {{count}} time(s). </h4>
{% endblock %}